*{
    margin: 0;
    top: 0;
}
#header{
    z-index: 1;

}
#Service{
    display: flex;
    height: 400px;
    position: relative;
    top: 280px;
}
.Service1-1{
    background: white;
    height: 370px;
    width: 335px;
    flex: 1;
    margin: 5px;
    box-shadow: 2px 2px 8px -1px black;
    transition-duration: 2s;
}
.Service1-1:hover{
    background: #1edcb5;
}
#icon1{
    position: relative;
    top: 20px;
    left: 21px;
    font-size: 51px;
    color: #3fbbc0
}
.Service1-2{
    background: white;
    height: 370px;
    width: 335px;
    flex: 1;
    margin: 5px;
    box-shadow: 2px 2px 8px -1px black;
    transition-duration: 2s;
}
.Service1-2:hover{
    background: #1edcb5;
}
.Service1-3{
    background: white;
    height: 370px;
    width: 335px;
    flex: 1;
    margin: 5px;
    box-shadow: 2px 2px 8px -1px black;
    transition-duration: 2s;
}
.Service1-3:hover{
    background: #1edcb5;
}
.Service1-4{
    background: white;
    height: 370px;
    width: 335px;
    flex: 1;
    margin: 5px;
    box-shadow: 2px 2px 8px -1px black;
    transition-duration: 2s;
}
.Service1-4:hover{
    background: #1edcb5;
}.span1{
    position: relative;
    top: 44px;
    left: 15px;
    font-size: 30px;
    font-weight: bold;
}
.service-para{
    position: relative;
    top: 61px;
    left: 18px;
    text-align: left;
    padding-right: 36px;
    line-height: 2;
    word-spacing: 1.5px;
}